<a href="https://colab.research.google.com/github/js0805/solar_photovoltaics_prediction_-_analytics/blob/master/mean.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

**INSERTING DATA**

In [4]:
df=pd.read_csv('/content/datasheet.csv')

In [5]:
df.head()

          From Date           To Date     AT     RH      SR    WS  Energy
0  17-09-2019 00:00  18-09-2019 00:00  26.60  86.83  192.03  1.34   483.0
1  18-09-2019 00:00  19-09-2019 00:00  26.10  89.25  108.98  1.08   371.0
2  19-09-2019 00:00  20-09-2019 00:00  27.66  80.99  172.50  0.92   551.0
3  20-09-2019 00:00  21-09-2019 00:00  27.77  82.71  165.78  0.78   614.0
4  21-09-2019 00:00  22-09-2019 00:00  27.75  83.06  145.68  0.69   491.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   From Date  367 non-null    object
 1   To Date    367 non-null    object
 2   AT         358 non-null    float64
 3   RH         358 non-null    float64
 4   SR         358 non-null    float64
 5   WS         358 non-null    float64
 6   Energy     358 non-null    float64
dtypes: float64(5), object(2)
memory usage: 20.2+ KB

In [7]:
df.describe()

               AT          RH          SR          WS      Energy
count  358.000000  358.000000  358.000000  358.000000  358.000000
mean    25.811285   60.159413  164.287430    0.969385  612.776536
std      4.792811   19.764985   32.173579    0.258796  132.143396
min     13.340000   15.760000   29.960000    0.500000   95.000000
25%     23.390000   45.860000  148.007500    0.790000  555.000000
50%     26.090000   61.810000  169.105000    0.930000  636.000000
75%     28.595000   76.992500  187.192500    1.150000  701.000000
max     35.950000   93.380000  251.160000    1.780000  910.000000

In [8]:
df.isnull().sum()

From Date    0
To Date      0
AT           9
RH           9
SR           9
WS           9
Energy       9
dtype: int64

Renaming the column "From Date" and "To Date" to remove the space

In [9]:
df.rename(columns={'From Date':'From_Date','To Date':'To_Date'},inplace=True)

Changing the data type of columns "From_Date" and "To Date" to datetime

In [10]:
df['From_Date']=pd.to_datetime(df.From_Date)
df['To_Date']=pd.to_datetime(df.To_Date)

Adding a column named 'Month'

In [11]:
df['Month']=df['From_Date'].dt.month

In [12]:
df.tail()

     From_Date    To_Date     AT     RH      SR    WS  Energy  Month
362 2020-09-13 2020-09-14  28.89  72.65  159.55  0.67   652.0      9
363 2020-09-14 2020-09-15  27.43  78.53  145.24  0.77   668.0      9
364 2020-09-15 2020-09-16  27.04  81.43  152.82  0.82   627.0      9
365 2020-09-16 2020-09-17  27.78  77.99  147.96  0.78   592.0      9
366 2020-09-17 2020-09-18  25.75  84.50  130.00  0.80   645.0      9

Replacing the 'Nan' values of the columns with the mean of those respective columns which is taken monthwise

In [13]:
df['AT'].fillna(df.groupby('Month')['AT'].transform('mean'),inplace=True)

In [14]:
df['RH'].fillna(df.groupby('Month')['RH'].transform('mean'),inplace=True)
df['SR'].fillna(df.groupby('Month')['SR'].transform('mean'),inplace=True)
df['WS'].fillna(df.groupby('Month')['WS'].transform('mean'),inplace=True)
df['Energy'].fillna(df.groupby('Month')['Energy'].transform('mean'),inplace=True)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   From_Date  367 non-null    datetime64[ns]
 1   To_Date    367 non-null    datetime64[ns]
 2   AT         367 non-null    float64
 3   RH         367 non-null    float64
 4   SR         367 non-null    float64
 5   WS         367 non-null    float64
 6   Energy     367 non-null    float64
 7   Month      367 non-null    int64
dtypes: datetime64[ns](2), float64(5), int64(1)
memory usage: 23.1 KB

In [16]:
df.iloc[202,:]

From_Date    2020-06-04 00:00:00
To_Date      2020-07-04 00:00:00
AT                       26.6528
RH                       69.4634
SR                         175.4
WS                       1.01103
Energy                       589
Month                          6
Name: 202, dtype: object

In [17]:
df.set_index('From_Date')

              To_Date     AT     RH      SR    WS  Energy  Month
From_Date
2019-09-17 2019-09-18  26.60  86.83  192.03  1.34   483.0      9
2019-09-18 2019-09-19  26.10  89.25  108.98  1.08   371.0      9
2019-09-19 2019-09-20  27.66  80.99  172.50  0.92   551.0      9
2019-09-20 2019-09-21  27.77  82.71  165.78  0.78   614.0      9
2019-09-21 2019-09-22  27.75  83.06  145.68  0.69   491.0      9
...               ...    ...    ...     ...   ...     ...    ...
2020-09-13 2020-09-14  28.89  72.65  159.55  0.67   652.0      9
2020-09-14 2020-09-15  27.43  78.53  145.24  0.77   668.0      9
2020-09-15 2020-09-16  27.04  81.43  152.82  0.82   627.0      9
2020-09-16 2020-09-17  27.78  77.99  147.96  0.78   592.0      9
2020-09-17 2020-09-18  25.75  84.50  130.00  0.80   645.0      9

[367 rows x 7 columns]

In [19]:
df

     From_Date    To_Date     AT     RH      SR    WS  Energy  Month
0   2019-09-17 2019-09-18  26.60  86.83  192.03  1.34   483.0      9
1   2019-09-18 2019-09-19  26.10  89.25  108.98  1.08   371.0      9
2   2019-09-19 2019-09-20  27.66  80.99  172.50  0.92   551.0      9
3   2019-09-20 2019-09-21  27.77  82.71  165.78  0.78   614.0      9
4   2019-09-21 2019-09-22  27.75  83.06  145.68  0.69   491.0      9
..         ...        ...    ...    ...     ...   ...     ...    ...
362 2020-09-13 2020-09-14  28.89  72.65  159.55  0.67   652.0      9
363 2020-09-14 2020-09-15  27.43  78.53  145.24  0.77   668.0      9
364 2020-09-15 2020-09-16  27.04  81.43  152.82  0.82   627.0      9
365 2020-09-16 2020-09-17  27.78  77.99  147.96  0.78   592.0      9
366 2020-09-17 2020-09-18  25.75  84.50  130.00  0.80   645.0      9

[367 rows x 8 columns]

In [21]:
df.to_csv("datasheet.csv")

In [22]:
df.to_csv("new.csv",columns=['Energy'])